.main {
  background-color: #00cc8c;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  min-height: 100vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1rem 0;
}

.center2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 5px;
}

.center3 {
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 5px;
}

.centerVert {
justify-content: center;
align-items: center;
position: relative;
padding: 1rem 0;
text-align: center;
}

.teamScore {
display: flex;
justify-content: center;
align-items: center;
position: relative;
padding: 1rem 0;
width: 400px;
}

.enterButton {
  width: 200px;
  background-color: blueviolet;
  padding: 10px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  text-align: center;
}

.enterButton2 {
  width: 200px;
  background-color: blueviolet;
  padding: 10px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  text-align: center;
  margin: 10px;
}

.input {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.inputSmall {
  width: 40px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}


.TeamText {
color: white;
margin-left: 5%;
margin-right: 5%;
}

.select {
  width: 160px;
  margin-left: 20px;
}

.createButton {
  width: 300px;
  background-color: rgb(58, 141, 236);
  padding: 10px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  text-align: center;
}

.createButton2 {
  width: 300px;
  background-color: rgb(58, 141, 236);
  padding: 10px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  text-align: center;
  margin: 10px;
}

.deleteButton {
  width: 300px;
  background-color: rgb(247, 49, 49);
  padding: 10px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  text-align: center;
}

.greenButton {
  width: 300px;
  background-color: rgb(26, 152, 3);
  padding: 10px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  text-align: center;
}

.game {
  width: 300px;
  background-color: rgb(255, 0, 0);
  padding: 5px;
  color: white;
  cursor: pointer;
  text-align: center;
  border-bottom: solid;
  border-width: thin;
  border-color: black;
}

.game:hover {
  width: 300px;
  background-color: rgb(166, 98, 98);
  padding: 5px;
  color: white;
  cursor: pointer;
  text-align: center;
  border-bottom: solid;
  border-width: thin;
  border-color: black;
}

.gameReady {
  width: 300px;
  background-color: rgb(0, 38, 255);
  padding: 5px;
  color: white;
  cursor: pointer;
  text-align: center;
  border-bottom: solid;
  border-width: thin;
  border-color: black;
}

.gameReady:hover {
  width: 300px;
  background-color: rgb(1, 20, 98);
  padding: 5px;
  color: white;
  cursor: pointer;
  text-align: center;
  border-bottom: solid;
  border-width: thin;
  border-color: black;
}