.main {
  background-color: #00cc8c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1rem 0;
  background-color: black;
}

.navbarText {
  color: #00b0f4;
  padding-right: 10px;
  padding-left: 10px;
  font-weight: bold;
  font-size: medium;
}

.navbarTextActive {
  color: #ff0084;
  padding-right: 10px;
  padding-left: 10px;
  font-weight: bold;
  font-size: medium;
}