.main {
  background-color: #00cc8c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  min-height: 100vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2rem 0;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1rem 0;
  background-color: black;
}

.navbarText {
  color: #00b0f4;
  padding-right: 10px;
  padding-left: 10px;
  font-weight: bold;
  font-size: medium;
}

.navbarTextActive {
  color: #ff0084;
  padding-right: 10px;
  padding-left: 10px;
  font-weight: bold;
  font-size: medium;
}

.textButton {
  border: none;
  background-color: #00b0f4;
  padding: 10%;
  margin-left: 10%;
  margin-right: 10%;
  cursor: pointer;
  font-weight: bold;
  font-size: medium;
  color: white;
  border-radius: 15%;
}

.textButtonActive {
  border: none;
  background-color: #005c83;
  padding: 10%;
  margin-left: 10%;
  margin-right: 10%;
  cursor: pointer;
  font-weight: bold;
  font-size: medium;
  color: white;
  border-radius: 15%;
}

.teamListContainer {
  background-color: #ff0084;
  padding: 40%;
  margin-bottom: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1rem 0;
}