.main {
    background-color: #00cc8c;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    min-height: 100vh;
}
  
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0rem 0;
}

.container {
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 2%;
}

.GroupItemName {
    background-color: #149CE9;
    width: 150px;
}

.GroupItemNameTop {
    background-color: #44baff;
    width: 150px;
}

.GroupStatContainerTop {
    background-color: #44baff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 150px;
}

.GroupPtsContainerTop {
    background-color: #f79647;
    padding-left: 1px;
    width: 40px;
    text-align: center;
}

.GroupTopContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.GroupStatContainer {
    background-color: #149CE9;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    width: 150px;
}

.GroupPtsContainer {
    background-color: #fb8a2d;
    width: 40px;
    text-align: center;
}

.GroupPtsContainerBottom {
    background-color: #fb8a2d;
    border-bottom-right-radius: 10px;
    width: 40px;
    text-align: center;
}

.GroupItemNameBottom {
    background-color: #149CE9;
    width: 150px;
    border-bottom-left-radius: 10px;
}

.text {
    padding: 10px;
    color: white;
    font-weight: bold;
}

.textGD {
    padding: 10px;
    color: white;
    font-weight: bold;
    width: 50px;
}

.GroupListItem {
    margin-bottom: 40px;
}

.textGames{
    color: white;
    border-bottom: solid;
}

.textStatus{
    color: white;
    padding-bottom: 5px;
    border-bottom: solid;
    border-bottom-width: thin;
    margin-bottom: 5px;
    border-bottom-color: lightgrey;
}